In [ ]:
#'https://dchart-api.vndirect.com.vn/dchart/history?symbol=SCR&resolution=5&from=1502096400000&to=1502117160000'
# Use https://www.epochconverter.com/ to convert datetime to epochtime

In [9]:
#Create a table 
import pymysql.cursors
connection = pymysql.connect(host='127.0.0.1', port=3307, user='root', passwd="", db='stock', charset="utf8", cursorclass=pymysql.cursors.DictCursor)
cursor = connection.cursor()
sql = """create table API_seconds(ID int NOT NULL AUTO_INCREMENT, match_price_c float not null, high_price_h float not null, low_price_l float not null, ref_price_o float not null, status_s varchar(255), time_t varchar(255), volume_v int not null, PRIMARY KEY (ID))"""

cursor.execute(sql)
connection.commit()
connection.close()

In [10]:
import pandas as pd
import datetime
import pymysql.cursors

df = pd.read_json('https://dchart-api.vndirect.com.vn/dchart/history?symbol=SCR&resolution=5&from=1502096400000&to=1502117160000')
df.t= pd.to_datetime((df.t + 7*3600),unit='s')
df['t']= df['t'].astype(str)
print (df)
connection = pymysql.connect(host='127.0.0.1', port=3307, user='root', passwd="", db='stock', charset="utf8", cursorclass=pymysql.cursors.DictCursor)
cursor = connection.cursor()

for index, rows in df.iterrows():
    cursor.execute("INSERT INTO API_seconds(match_price_c, high_price_h, low_price_l, ref_price_o, status_s, time_t, volume_v) VALUES (%s,%s, %s, %s, %s, %s, %s)",rows.tolist())
    
connection.commit()
connection.close()

         c      h      l      o   s                    t       v
0    11.60  11.60  11.55  11.60  ok  2017-08-01 09:15:18   82110
1    11.60  11.65  11.55  11.60  ok  2017-08-01 09:20:24   84170
2    11.55  11.55  11.55  11.55  ok  2017-08-01 09:27:11   94690
3    11.55  11.55  11.50  11.55  ok  2017-08-01 09:30:02  154490
4    11.55  11.55  11.55  11.55  ok  2017-08-01 09:35:59   12470
5    11.55  11.55  11.50  11.55  ok  2017-08-01 09:41:09   25720
6    11.50  11.50  11.50  11.50  ok  2017-08-01 09:45:24  179930
7    11.55  11.55  11.50  11.50  ok  2017-08-01 09:50:54   55210
8    11.50  11.50  11.50  11.50  ok  2017-08-01 09:56:39   33500
9    11.50  11.50  11.50  11.50  ok  2017-08-01 10:00:27  113350
10   11.50  11.50  11.45  11.50  ok  2017-08-01 10:06:06   90110
11   11.50  11.50  11.50  11.50  ok  2017-08-01 10:10:45    3120
12   11.50  11.50  11.50  11.50  ok  2017-08-01 10:16:25    7380
13   11.50  11.50  11.50  11.50  ok  2017-08-01 10:20:31   56200
14   11.55  11.55  11.50  11.50  ok  2017-08-01 10:25:08    6700
15   11.55  11.55  11.55  11.55  ok  2017-08-01 10:33:02   13840
16   11.50  11.55  11.50  11.55  ok  2017-08-01 10:35:17  107200
17   11.50  11.50  11.50  11.50  ok  2017-08-01 10:41:09    7000
18   11.55  11.55  11.50  11.50  ok  2017-08-01 10:45:29   42510
19   11.55  11.60  11.55  11.55  ok  2017-08-01 10:50:12  175000
20   11.55  11.60  11.55  11.55  ok  2017-08-01 10:55:06   21110
21   11.60  11.60  11.60  11.60  ok  2017-08-01 11:00:17   34710
22   11.60  11.60  11.55  11.55  ok  2017-08-01 11:05:29   96970
23   11.60  11.60  11.60  11.60  ok  2017-08-01 11:10:05  124770
24   11.90  11.95  11.65  11.65  ok  2017-08-01 11:15:11  753850
25   12.00  12.00  11.85  11.85  ok  2017-08-01 11:20:16  706820
26   12.00  12.05  12.00  12.00  ok  2017-08-01 11:25:02  366630
27   12.05  12.05  12.00  12.00  ok  2017-08-01 13:00:19  235400
28   12.05  12.10  12.05  12.10  ok  2017-08-01 13:05:16   88000
29   12.15  12.20  12.10  12.10  ok  2017-08-01 13:10:00  387560
..     ...    ...    ...    ...  ..                  ...     ...
199  11.55  11.55  11.55  11.55  ok  2017-08-07 10:25:24   80000
200  11.55  11.60  11.55  11.60  ok  2017-08-07 10:30:55  124720
201  11.55  11.55  11.55  11.55  ok  2017-08-07 10:35:41   89290
202  11.55  11.55  11.55  11.55  ok  2017-08-07 10:40:25    6230
203  11.55  11.55  11.55  11.55  ok  2017-08-07 10:45:13   19540
204  11.60  11.60  11.55  11.55  ok  2017-08-07 10:50:13   10700
205  11.55  11.55  11.55  11.55  ok  2017-08-07 10:57:16      40
206  11.55  11.55  11.55  11.55  ok  2017-08-07 11:00:09    5120
207  11.55  11.55  11.55  11.55  ok  2017-08-07 11:05:58  133990
208  11.55  11.60  11.55  11.60  ok  2017-08-07 11:15:12   21940
209  11.60  11.60  11.55  11.55  ok  2017-08-07 11:21:54   16350
210  11.60  11.60  11.55  11.55  ok  2017-08-07 11:26:56  121050
211  11.60  11.60  11.55  11.55  ok  2017-08-07 13:00:20   11510
212  11.55  11.55  11.50  11.55  ok  2017-08-07 13:10:20  270000
213  11.55  11.55  11.55  11.55  ok  2017-08-07 13:15:28   53100
214  11.55  11.55  11.55  11.55  ok  2017-08-07 13:20:05   59560
215  11.55  11.55  11.55  11.55  ok  2017-08-07 13:25:06   31940
216  11.55  11.55  11.55  11.55  ok  2017-08-07 13:30:22  104360
217  11.55  11.60  11.55  11.60  ok  2017-08-07 13:36:36   32860
218  11.55  11.55  11.50  11.50  ok  2017-08-07 13:40:27   57690
219  11.55  11.55  11.55  11.55  ok  2017-08-07 13:45:06   18710
220  11.55  11.55  11.55  11.55  ok  2017-08-07 13:50:24  172110
221  11.55  11.55  11.55  11.55  ok  2017-08-07 13:55:14   55550
222  11.50  11.55  11.50  11.55  ok  2017-08-07 14:01:08   31420
223  11.55  11.55  11.55  11.55  ok  2017-08-07 14:06:07   32520
224  11.50  11.55  11.50  11.50  ok  2017-08-07 14:11:19   41100
225  11.50  11.55  11.50  11.50  ok  2017-08-07 14:15:18   20060
226  11.50  11.50  11.50  11.50  ok  2017-08-07 14:20:56  210400
227  11.50  11.50  11.50  11.50  ok  2017-08-07 14:26:18   71650
228  11.50  11.50  11.50  11.50  ok  2017-08-07 14:46:17  250500

[229 rows x 7 columns]